{
	"nick" : "nickname",
	"modules" : ["core", "samplemodule"],
	"commandprefix" : "!",
	"nicksuffix" : "_",
	"servers" : 
	[
		{
			"name" : "servername",
			"nick" : "nickservername",
			"nicksuffix" : "^",
			"host" : "irc.hostname.tld",
			"port" : 6667,
			"channels" : ["#channelname", ["#channelname2", "password"]],
			"allowmodules" : ["core", "samplemodule"],
			"denymodules" : ["samplemodule"],
			"commandprefix" : ","
		}
	]
	
}